body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
    outline: none!important;
}
.login-page{
    background: #e6dad0;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.login-pag:after{
    content: "";
    position: absolute;
    left:0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color:rgba(0,0,0,.5) ;
    z-index: 1;
}
.login-page .box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 465px;
    z-index: 2;
}
.login-page .box .form-head h1{
    text-align: center;
    margin: 10px 0px 50px;
    color:#000;
    font-size: 2.1rem;
    font-weight: 800;
    text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.5);
}
.login-page .box .form-body{
    display: flex;
    flex-direction: column;
}
.login-page .box .form-body input{
    height: 80px;
    margin-bottom: 20px;
    border: none;
    width: 100%;
    background-color: #c4c4c4;
    border-radius: 15px;
    text-align: center;
    color: #000;
    transition: box-shadow .5s ease;
}
.login-page .box .form-body input:focus{
    transition: box-shadow .5s ease;
}
.login-page .box .form-body input::placeholder{
    color:none;
    font-size: 1rem;
}
.login-page .box .form-footer{
    text-align: center;
}
.login-page .box .form-footer button{
    height: 60px;
    border-radius: 20px;
    padding: 0px 50px;
    color: #ffffff;
    font-size: 1rem;
    background-color:#ffa361;
    border:none;
    cursor: pointer;
    margin-top: 17px;
    transition:box-shadow .5s ease;
}
.login-page .box .form-footer button:hover{
    box-shadow: 0 0 0 1px rgba(0,0,0,.5);
}
.forgot a{
    text-decoration: none;
    color:#000 ;
    padding: 0px 10px;
    text-align: center;
    position: absolute;
    top:85% ;
    left: 0;
    font-family: sans-serif;
    font-weight: 600;
    text-shadow: 1px 6px 3px rgba(0, 0, 0, 0.5);
    font-size: 1rem;
}
.create a{
    text-decoration: none;
    color:#000 ;
    padding: 0px 10px;
    text-align: center;
    position: absolute;
    top:85% ;
    right: 0;
    font-family: sans-serif;
    font-weight: 600;
    text-shadow:  1px 6px 3px rgba(0, 0, 0, 0.5);
    font-size: 1rem;
}
a:hover{
    color:orange;
    text-shadow: 2px 6px 8px rgba(0, 0, 0, 0.5);
}

