@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Zilla+Slab+Highlight:wght@700&display=swap");

*{
    margin: 0;
    padding: 0;
  }
 .body {
     background-color:#e5dad0 ;
 }
  .container {
    position: absolute;
  width: 1165px;
  height: 398px;
  left: 130px;
  top: 115px;
  
  background:#e5dad0;
  border-radius: 25px;
  }
  .info {
    position: absolute;
    width: 547.2px;
    height: 168px;
    left: 618.71px;
    top: 145.17px;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
  }
  .img {
    position: absolute;
    width: 349.25px;
    height: 240.08px;
    left: 164.56px;
    top: 141.51px;
    background-color: #f1f1f1;
    border-radius: 25px;
  }
  .bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.1); /* Black background with 0.5 opacity */
    color: orangered; /* Grey text */
  }
  .addtocart {
    position: absolute;
  width: 330px;
  height: 70px;
  left: 569px;
  top: 354px;
  background: orange;
  border-radius: 25px;
  }
  .block {
    display: block;
    padding: 14px 28px;
    width: 330px;
  height: 70px;
    font-size: 19px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    background-color: orange;
    border-radius: 20px;
  }
  .blocky {
    display: block;
    padding: 14px 28px;
    width: 225.82px;
  height: 70px;
  font-size: 19px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    background-color: orange;
    border-radius: 20px;
  }
  .hom {
    position: absolute;
  width: 225.82px;
  height: 70px;
  left: 1000px;
  top: 354px;
  background: orange;
  border-radius: 20px;
  }
  .pdt {
    position: absolute;
  width: 1162.48px;
  height: 254px;
  left: 130px;
  top: 521px;
  background: #e5dad0;
  border-radius: 25px;
  }
  .h1 {
    align-content: center;
    background-color: #e5dad0;
  }
  
  .similarpdts {
    position: absolute;
  width: 142px;
  height: 89px;
  left: 660px;
  top: 567px;
  
  background-color: white;
  border-radius: 30px;
  }
  
  .similar {
    position: absolute;
  width: 142px;
  height: 89px;
  left: 942px;
  top: 659px;

  background-color: white;
  border-radius: 30px;
  }
  .similaree {
    position: absolute;
  width: 142px;
  height: 89px;
  left: 942px;
  top: 567px;
  
  background-color: white;
  border-radius: 30px;
  }
  .similari {
    position: absolute;
    width: 142px;
    height: 89px;
    left: 660px;
    top: 659px;
    
    background-color: white;
    border-radius: 30px;
  }
  .ratings {
    position: absolute;
    width: 1162.48px;
  height: 254px;
  top: 791px;
  left: 132.52px;
  background: white;
  border-radius: 25px;
  }
  
  .similary {
    position: absolute;
  width: 142px;
  height: 89px;
  left: 372px;
  top: 567px;
  background-color: white;
  border-radius: 30px;
  }
  
  .similery {
    position: absolute;
  width: 142px;
  height: 89px;
  left: 372px;
  top: 659px;
  
  background-color: white;
  border-radius: 30px;
  }
  
  .fa {`
    font-size: 30px;
    font-weight: 300;
  }
  
  .checked {
    color: yellow;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 20px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 20px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 85%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; margin-left: 20px; background-color: gold;}
  .bar-4 {width: 30%; height: 18px; margin-left: 20px; background-color: red;}
  .bar-3 {width: 10%; height: 18px; margin-left: 20px; background-color: blue;}
  .bar-2 {width: 4%; height: 18px; margin-left: 20px; background-color: orangered;}
  .bar-1 {width: 15%; height: 18px; margin-left: 20px; background-color: aqua;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 200px) {
    .side, .middle {
      width: 75%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
    .ed {
        
    }
    
.footer {
    padding: 3rem;
    display: grid;
    grid-template-columns: 22% 78%;
    grid-gap: 2rem;
    color: white;
    bottom: 5rem;
    background: rgb(61, 59, 59);
  }
  
  .footer-2 {
    background: black;
    padding: 0.4rem;
    bottom: 5rem;
  }
  
  .footer-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10rem;
  }
  
  .brand h1,
  p {
    text-align: center;
    align-content: center;
    justify-content: center;
  }
  
  .brand h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .brand p {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .menu-card-social-media {
    padding: 1rem;
    padding-left: 800px;
  }
  
  .menu-card-social-media h3 {
    margin-bottom: 0.7rem;
  }
  
  .menu-card-social-media a {
    padding: 0.5rem;
    display: block;
    color: white;
    align-items: flex-end;
    font-family: "Montserrat", sans-serif;
  }
  
  .menu-card {
    padding: 1rem;
  }
  
  .menu-card h3 {
    margin-bottom: 0.7rem;
  }
  
  .menu-card a {
    display: block;
    color: white;
    padding: 0.5rem;
    font-family: "Montserrat", sans-serif;
  }
  
  @media only screen and (max-width: 1180px) {
    .menu-responsive {
      width: 60%;
    }
    footer {
      padding: 3rem;
      display: grid;
      grid-template-columns: 22% 78%;
      grid-gap: 2rem;
      color: white;
      background: rgb(61, 59, 59);
    }
  
    .footer-2 {
      background: black;
      padding: 0.4rem;
      font-size: 15px;
    }
  
    .footer-menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10rem;
    }
  
    .brand {
      text-align: center;
      align-content: center;
      justify-content: center;
    }
  
    .brand h1 {
      text-align: center;
      align-content: center;
      justify-content: center;
    }
  
    .brand p {
      text-align: center;
      align-content: center;
      justify-content: center;
    }
  
    .menu-card-social-media {
      padding: 1rem;
      padding-left: 550px;
    }
  
    .menu-card-social-media h3 {
      margin-bottom: 0.7rem;
    }
  
    .menu-card-social-media a {
      display: block;
      color: white;
      align-items: flex-end;
    }
  
    .menu-card {
      padding: 1rem;
    }
  
    .menu-card h3 {
      margin-bottom: 0.7rem;
    }
  
    .menu-card a {
      display: block;
      color: white;
    }
    .footer-menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10rem;
    }
  }
  
  @media only screen and (max-width: 980px) {
    footer {
      padding: 3rem;
      display: grid;
      grid-template-columns: 22% 78%;
      grid-gap: 2rem;
      color: white;
      background: rgb(61, 59, 59);
    }
  
    .footer-2 {
      background: black;
      padding: 0.4rem;
      font-size: 15px;
    }
  
    .footer-menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10rem;
    }
  
    .brand h1,
    p {
      text-align: center;
    }
  
    .menu-card-social-media {
      padding: 1rem;
      padding-left: 350px;
    }
  
    .menu-card-social-media h3 {
      margin-bottom: 0.7rem;
    }
  
    .menu-card-social-media a {
      display: block;
      color: white;
      align-items: flex-end;
    }
  
    .menu-card {
      padding: 1rem;
    }
  
    .menu-card h3 {
      margin-bottom: 0.7rem;
    }
  
    .menu-card a {
      display: block;
      color: white;
    }
    .brand-logo {
      display: none;
    }
    .footer-menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10rem;
    }
  
    #menu-change:checked ~ .main-menu:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 500;
      background: rgba(0, 0, 0, 0.6);
    }
  
    #menu-change:checked ~ .main-menu .menu-responsive {
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 600;
    }
  
    #menu-change:checked ~ .main-menu .menu-responsive label {
      display: block;
    }
  
    .menu-responsive {
      position: absolute;
      top: -100%;
    }
  
    .main-menu {
      justify-content: flex-end;
    }
  
    .main-menu a {
      margin-left: 1rem;
    }
  
    .home {
      height: auto;
    }
  
    .home-item {
      display: block;
      width: 100%;
      height: auto;
    }
  
    .home-info {
      width: 100%;
    }
  
    .home-image {
      display: none;
    }
  
    .single-item {
      width: 30%;
    }
  
    .deals-item .single-item {
      width: 50% !important;
    }
  
    .deals-inner {
      display: block;
    }
  
    .timer {
      margin-bottom: 1rem;
    }
  
    footer {
      display: block;
    }
  
    .footer-menu {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (max-width: 768px) {
    footer {
      padding: 3rem;
      display: grid;
      grid-template-columns: 22% 78%;
      grid-gap: 2rem;
      color: white;
      background: rgb(61, 59, 59);
    }
  
    .footer-2 {
      background: black;
      padding: 0.4rem;
      font-size: 15px;
      display: block;
    }
  
    .footer-menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10rem;
    }
  
    .brand h1,
    p {
      text-align: center;
    }
  
    .menu-card-social-media {
      padding: 1rem;
      padding-left: 170px;
    }
  
    .menu-card-social-media h3 {
      margin-bottom: 0.7rem;
    }
  
    .menu-card-social-media a {
      display: block;
      color: white;
      align-items: flex-end;
    }
  
    .menu-card {
      padding: 1rem;
    }
  
    .menu-card h3 {
      margin-bottom: 0.7rem;
    }
  
    .menu-card a {
      display: block;
      color: white;
    }
    .footer-menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10rem;
    }
    .single-item {
      width: 50%;
    }
  
    .deals-item .single-item {
      width: 100% !important;
    }
  
    .card-brand {
      display: block;
    }
  
    .single-card {
      margin-bottom: 1.5rem;
    }
  }
  
  @media only screen and (max-width: 540px) {
    footer {
      padding: 3rem;
      display: grid;
      grid-template-columns: 22% 78%;
      grid-gap: 2rem;
      color: white;
      background: rgb(61, 59, 59);
    }
  
    .footer-2 {
      background: black;
      padding: 0.4rem;
      font-size: 8px;
      display: block;
    }
  
    .footer-menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10rem;
    }
  
    .brand h1,
    p {
      text-align: center;
    }
  
    .menu-card-social-media {
      padding: 1rem;
      padding-left: 40px;
    }
  
    .menu-card-social-media h3 {
      margin-bottom: 0.7rem;
    }
  
    .menu-card-social-media a {
      display: block;
      color: white;
      align-items: flex-end;
    }
  
    .menu-card {
      padding: 1rem;
    }
  
    .menu-card h3 {
      margin-bottom: 0.7rem;
    }
  
    .menu-card a {
      display: block;
      color: white;
    }
    .footer-menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10rem;
    }
    .single-item {
      width: 100%;
    }
  
    /* position outside */
    .home .flickity-prev-next-button.previous {
      left: 40px;
    }
  
    .home .flickity-prev-next-button.next {
      right: 40px;
    }
  }
  