*{
    box-sizing: border-box;
    margin: 0;
}

[class*="col-"] {
    float: left;
    padding: 15px;
  }
  /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
body{
    background-color: #edcfa9;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
h1{
  font-weight: normal; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.user{
    border-radius: 20px;
    height: 1.5rem;
    width: 3rem;
    padding-left: 0.4rem;
    padding-top: 0.1rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
}
.search{
    border-radius: 20px;
    height: 1.5rem;
    padding-left: 1rem;
    outline: none;
    margin-right: 0;
    padding-right: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    
} 
.search::placeholder{
    font: italic;
    font-size: 0.7rem;
}
.search_button{
    border-radius: 20px;
    border-style: none;
    margin-left: 0;
    height: 1.5rem;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: black;
}
.cart_button{
    border-radius: 10px;
    height: 2rem;
    padding-top: 0.4rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: orange;
    color: white;
}
.contact{
    border-radius: 10px;
    height: 2rem;
    padding-top: 0.4rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: orange; 
    color: white;
} 
h2{
    font-weight: bold;
    font-size: 1rem;
    

}
.wrapper{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:10px;
    height: 100%;
}
.info_part{
    border-radius: 20px;
    width:60%;
    height: 12rem;
    padding-left: 10px;
    margin: 10px;
    background-color:white;   
} 
.edit_info{
    border-radius: 10px;
    border-style: none;
height: 2rem;
width: 8rem;
margin-left:50%;
margin-top: 8%;
margin-bottom: 4rem;
outline: none;

    background-color: orange;
    color:white;
}
.info_text{
    padding-left: 30%;
    padding-right: 30%;
}
input{
    border: none;
    outline: none;
    background-color: #f3f3f3;
}
.delivery{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 30%;
    height: 12rem;
    padding: 10px;
    margin: 10px;
    background-color:white;  
}
.delivery_text{
    margin-bottom: 2rem;
}
#location{
    margin-bottom: 1rem;
}
.product{
    border-radius: 20px;
    width:60%;
    height: 12rem;
    column-count: 3;
    padding: 10px 10px 10px 10px;
    background-color:white; 
}
.description{
    margin-top: 2rem;
}
.amount{
    margin-top: 2rem;
}
.product_image{
   /* height: 7rem;*/
    width: 8rem;
    border-radius: 20px;
}
.payment_section{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width:30%;
    height: 12rem;
    background-color:white; 
}
.payment_text{
    margin-bottom: 1rem;
}
.pay_para{
    margin-bottom: 2rem;
}
.confirm_button{
    border-radius: 10px;
    border-style: none;
    height: 2rem;
    background-color: orange;
}
footer{
    background-color: rgb(34, 33, 33);
}
.footer{
display: flex;
align-items: center;
position: sticky;

}
.footer > ul{
    list-style-type: none;
    margin-right: 29%;
    margin-left:0;
    padding-left: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
.copyright{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
   background-color: black; 
}
.footer_image{
    width:3rem;
    height: 1.7rem;
    border-radius: 20px;
    
}
.copyright_text{
    font: 0.5rem;
    color: white;
}