*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #edcfa9;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
h1{
  font-weight: normal;  
}
.user{
    border-radius: 20px;
    height: 1.5rem;
    width: 3rem;
    align-items: center;
    background-color: white;
}
.search{
    border-radius: 20px;
    height: 1.5rem;
    padding-left: 1rem;
    outline: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3) 0 7px 21px 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    background-color: white;
    
} 
.search::placeholder{
    font: italic;
    font-size: 0.7rem;
}
.search_button{
    border-radius: 20px;
    border-style: none;
    color: white;
    background-color: black;
}
.cart_button{
    border-radius: 10px;
    background-color: orange;
}
.contact{
    border-radius: 10px;
    background-color: orange; 
} 
h2{
    font-weight: normal;
}
.wrapper{
    display:flex;
    justify-content: space-around;
    margin:20px;
    height: 100%;;
}
.info_part{
    border-radius: 20px;
    width:60%;
    background-color:white;   
} 
.delivery{
    border-radius: 20px;
    width: 20%;
    background-color:white;  
}
.product{
    border-radius: 20px;
    width:60%;
    background-color:white; 
}
.payment_section{
    border-radius: 20px;
    width:20%;
    background-color:white; 
}
footer{
    background-color: rgb(34, 33, 33);
}
.footer{
display: flex;
align-items: center;

}
.footer > ul{
    list-style-type: none;
    margin-right: 29%;
    margin-left:0;
    padding-left: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
.copyright{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
   background-color: black; 
}
.footer_image{
    width:3rem;
    height: 1.7rem;
    border-radius: 20px;
    
}
.copyright_text{
    font: 0.5rem;
    color: white;
}